#section1 {
  color: #fdfdfd;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#section1 img {
  height: 30vh;
  border-radius: 100%;
}

#section1 .div-tab {
  width: 70%;
}

.tab {
  overflow: hidden;
  background-color: #121212;
  color: #fdfdfd;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #fdfdfd;
  border: 0.5px solid #68967A;
  border-radius: 15px;
  width: 230px;
  margin-right: 0.2vw;
  text-transform: uppercase;
  transition: 0.5s;
}

.tab button:hover {
  background-color: #68967A;
  border-radius: 15px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  margin-top: 25px;
  transition: 2s;
}

.tab4 div {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fdfdfd;
  text-transform: uppercase;
}